<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find moborobo)/description/robot.udrf.xacro'" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find moborobo)/world/work.world"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"  args="-param robot_description -urdf -model moborobo" />

    <node name="Rsp" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <node name="Joint_tester" pkg="rviz" type="rviz" output="screen" args="-d $(find moborobo)/config/map.rviz"/>


    <node pkg="gmapping" type="slam_gmapping" name="maping_node">
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
    </node>

    <node pkg="move_base" type="move_base" name="Base_move" output="screen">
        <param name="controller_frequency" value="10.0" />
        <rosparam file="$(find moborobo)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find moborobo)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find moborobo)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find moborobo)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find moborobo)/config/trajectory_planner.yaml" command="load" />
      </node>

      <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="rs_points"/>
        <rosparam>
          target_frame: camera_link
          transform_tolerance: 0.01
          min_height: 0.0
          max_height: 1.0
          
          angle_min: -3.14
          angle_max: 3.14
          angle_increment: 0.0087
          scan_time: 0.1
          range_min: 0.45
          range_max: 10.0
          use_inf: true
          
          #concurrency_level affects number of pc queued for processing and the number of threadsused
          # 0: Detect number of cores
          # 1: Single threaded
          # 2: inf : Parallelism level
          concurrency_level: 1
        </rosparam>
    </node>

</launch>